.ew__minimap-con {
  width: 200px;
  height: 400px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f5f6fa;
  background-color: #f5f6fa;
  &-header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  &-tree {
    overflow: scroll;
  }
}
