.ew__objinput {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  margin: 2px 0;
  &-key {
    flex: 1;
    display: inline-block;
    min-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-value {
    flex: 1;
    transition: all 0.05s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  }
  &-valueunfocus {
    background-color: transparent !important;
    border: none !important;
  }
}
