.ew__config {
  &-con {
    height: 100%;
    min-height: 600px;
    width: 300px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    background-color: #f5f6fa;
    &-header {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      // font-size: 20px;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    &-key {
      margin-right: 5px;
    }
  }
}
